.avatar-container {
    position: relative;
    display: inline-block;
}
.avatar-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-clip: cover;
    margin-left: 16%;
}
.avatar-container button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
}
.avatar-container button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}