/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layout */
.section-body {
    display: flex;
    color: black;
}

.left-body {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-body .patient {
    text-align: center;
    margin-bottom: 20px;
}

.left-body .patient .avatar-container {
    margin-bottom: 10px;
}

.left-body .patient .user-avatar img {
    border-radius: 50%;
    border: 2px solid #ecf0f1;
    width: 100px;
    height: 100px;
}

.left-body .patient button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-body .patient button:hover {
    background-color: #c0392b;
}

.left-body p {
    margin: 10px 0;
}

.left-body a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.left-body a:hover {
    color: #9adced;
}

/* Main Content Area */
.right-body {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f0f2f5;
}

.nav-con {
    background-color: #ecf0f1;
    padding: 10px 20px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    /* width: calc(100% - 270px); */
    top: 0;
    z-index: 100;
}

.nav-con .logo img {
    height: 100px;
    margin-top: -16px;
}

.nav-con h3 {
    margin: 0;
    color: #2c3e50;
}

#res {
    margin-top: 70px; /* Adjust for the fixed navbar height */
    padding: 20px;
    border-radius: 5px;
    height: calc(100vh - 90px); /* Adjust for padding and navbar */
    /* overflow-y: hidden; */
    margin-bottom: 60px;
}

/* User Avatar and Info */
p.username {
    font-weight: bold;
    margin-top: 10px;
}

/* Additional styles for the dashboard sections */
.left-body .patient button {
    background-color: #3498db;
}

.left-body .patient button:hover {
    background-color: #2980b9;
}
