body{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    overflow-x: hidden;

}
a{
    text-decoration: none;
}
.section-body{
    display:flex;
    color:black;
}
.patient{
  
    padding: 20px 0px;

}

.left-body{
    position: fixed;
    border-right: 2px solid rgb(205, 203, 203);
    width: 200px;
    height: 100vh;
    background: whitesmoke;
    padding: 20px;
    display: flex;
    box-sizing:border-box;
    flex-direction: column;
   
}
.right-body.home {
    margin-left: 200px;
    height: 100vh;
    width: calc(100% - 200px);
    position: relative; 
    overflow-x: hidden; 
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
}


.nav-con{
 
    background:rgb(20, 16, 216);
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.nav-con.h3{
    color: white;
    padding: 0px 20px;


}
#res{
    padding:0px 20px;
    display: flex;
    flex-direction: column;

}